---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/sections/Hero.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
  </main>
</Layout>
