---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import HeroWall from '../components/sections/HeroWall.astro';
import LogoGrid from '../components/sections/LogoGrid.astro';
import Success from '../components/sections/Success.astro';
import BlogTeaser from '../components/sections/BlogTeaser.astro';
import ContactCTA from '../components/sections/ContactCTA.astro';
---

<Layout>
  <Nav />
  <main>
    <HeroWall />
    <LogoGrid />
    <Success />
    <BlogTeaser />
    <ContactCTA />
  </main>
</Layout>
